.profile {
  max-width: 880px;
  display: flex;
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 40px auto 50px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 581px;
    flex-direction: column;
    margin: 40px auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 282px;
    margin: 38px auto 36px;
  }
}